body {
    display: flex;
    justify-content: center;
}

section {
    width: 800px;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

li {
    background-color: #fff;
    border: 8px solid black;
    box-shadow: 1px -1px 9px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px -1px 9px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px -1px 9px 0px rgba(0,0,0,0.75);
    width: 200px;
    height: 300px;
    
    display: flex;
}

img {
    box-sizing: border-box;
    padding: 10px;
    max-height:100%;
    max-width:100%;
    object-fit: contain;
}