body {
    background-color: rgb(238, 238, 238);
    display: flex;
}

.container {
    display: flex;
    gap: 20px;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

img {
    object-fit: cover;
    border-radius: 8px;
    width: 10%;
    height: 50%;
    transition: 1000ms;

}

img:hover {
    object-fit: contain;
    background-color: rgb(0, 0, 0);
    width: 38%;
    transition: 1000ms;
}