html {
    font-family: Helvetica, sans-serif;
    background-color: rgb(238, 238, 238);
    color: rgb(51, 51, 51);
}

.article-title {
    display: inline-block;
    width: 70%;
    padding-left: 20px;
}

aside {
    display: inline-block;
    width: 25%;
}

aside h2 {
    display: block;
}

aside li a {
    display: block;
    color: blue;
}

section {
    padding-left: 20px;
    width: 70%;
}

section img {
    width: 75%;
}

footer {
    width: 70vw;
}